<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Kilatrou.com</title>

    <!-- Bootstrap Core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="http://ironsummitmedia.github.io/startbootstrap-grayscale/css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="http://ironsummitmedia.github.io/startbootstrap-grayscale/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <style type="text/css">
	    .intro {background: url("https://farm1.staticflickr.com/304/18689925796_84edf5df4c_k_d.jpg") no-repeat bottom center scroll;}
	    .download-section{padding-top: 100px !important; background: none;}
	</style>

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i>  Kilatrou.com
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">A propos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#login">Connexion</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Nous contacter</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Kilatrou</h1>
                        <p class="intro-text">Location en ligne d'escort girls</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Kilatrou</h2>
                <p>Description détaillée du site.<br/>
                	Francky à toi de jouer
                </p>
            </div>
        </div>
    </section>

    <!-- Login Section -->
    <section id="login" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- Form Connexion -->
                    <form class="form-horizontal" method="POST" style="margin-top:5%;">
                        <fieldset class="login-box">
                            <!-- Form Name -->
                            <h2>Connexion</h2>

                            <!-- Pseudo -->
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-4">
                                    <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md" required="">
                                </div>
                            </div>

                            <!-- Password -->
                            <div class="form-group">
                                <div class="col-md-4 col-md-offset-4">
                                    <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" required="">
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3">
                                    <button id="singlebutton" name="singlebutton" class="btn btn-info connec">Connexion</button>
                                </div>
                            </div>
                            <div class="col-md-4 col-md-offset-4 text-right">
                                <a href="#">Mot de passe oublié?</a>
                            </div>
                            <div class="col-md-4 col-md-offset-4 text-right">
                                <a href="#">Je m'inscris</a>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Nous contacter</h2>
                <p>Nous restons à votre écoute au 08 99 69 54 78 ou par mail à l'adresse suivante:</p>
                <p><a href="mailto:contact@kilatrou.com">contact@kilatrou.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/avions_chasse" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://fr-fr.facebook.com/AvionsChasse" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="http://avionsdechasse.tumblr.com/" class="btn btn-default btn-lg"><i class="fa fa-tumblr fa-fw"></i> <span class="network-name">Tumblr</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <h5>Copyright &copy; Kilatrou 2015</h5>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="http://ironsummitmedia.github.io/startbootstrap-grayscale/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="http://ironsummitmedia.github.io/startbootstrap-grayscale/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://ironsummitmedia.github.io/startbootstrap-grayscale/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="http://ironsummitmedia.github.io/startbootstrap-grayscale/js/grayscale.js"></script>

</body>

</html>
