
<!DOCTYPE html>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <div id="page-content-wrapper">
            <span style="text-align:center;">
                <!-- Titre -->
                <h1>Kilatrou.com</h1>
                <div class="col-md-6 col-md-offset-3">
                    <!-- Inscription -->
                    <form class="form-horizontal" method="POST" style="margin-top:5%;">
                        <fieldset class="login-box">
                            <!-- Form Name -->
                            <legend>Inscription</legend>

                            <!-- Nom -->
                            <div class="form-group">
                                <label class="col-md-5 control-label" for="nom">Nom</label>
                                <div class="col-md-4">
                                    <input id="nom" name="nom" type="text" placeholder="Nom" class="form-control input-md" required="">
                                </div>
                            </div>
                            <!-- Prenom -->
                            <div class="form-group">
                                <label class="col-md-5 control-label" for="prenom">Prénom</label>
                                <div class="col-md-4">
                                    <input id="prenom" name="prenom" type="text" placeholder="Prénom" class="form-control input-md" required="">
                                </div>
                            </div>
                            <!-- Email -->
                            <div class="form-group">
                                <label class="col-md-5 control-label" for="email">Email</label>
                                <div class="col-md-4">
                                    <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md" required="">
                                </div>
                            </div>
                            <!-- Password -->
                            <div class="form-group">
                                <label class="col-md-5 control-label" for="password">Mot de passe</label>
                                <div class="col-md-4">
                                    <input id="password" name="password" type="password" placeholder="Mot de passe" class="form-control input-md" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 control-label" for="password"></label>
                                <div class="col-md-4">
                                    <input id="passwordConf" name="passwordConf" type="password" placeholder="Confirmez votre mot de passe" class="form-control input-md" required="">
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-5 control-label" for="textinput"></label>
                                <div class="col-md-4">
                                    <button id="singlebutton" name="singlebutton" class="btn btn-info connec">Connexion</button>
                                </div>
                            </div>
                            <div></div>
                        </fieldset>
                    </form>
                </div>
            </span>
        </div>
    </div>
</body>
</html>