
<!DOCTYPE html>
<html>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <div id="page-content-wrapper">
            <span style="text-align:center;">
                <!-- Titre -->
                <h1>Kilatrou.com</h1>

                <div class="col-md6">
                    <!-- Connexion -->
                    <form class="form-horizontal" method="POST" style="margin-top:5%;">
                        <fieldset class="login-box">
                            <!-- Form Name -->
                            <legend>Connexion</legend>

                            <!-- Pseudo -->
                            <div class="form-group">
                                <label class="col-md-5 control-label" for="textinput"></label>
                                <div class="col-md-2">
                                    <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md" required="">
                                </div>
                            </div>

                            <!-- Password -->
                            <div class="form-group">
                                <label class="col-md-5 control-label" for="textinput"></label>
                                <div class="col-md-2">
                                    <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" required="">
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-5 control-label" for="textinput"></label>
                                <div class="col-md-2">
                                    <button id="singlebutton" name="singlebutton" class="btn btn-info connec">Connexion</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>

                <div class="col-md-6">
                    <!-- Inscription -->
                    <form class="form-horizontal" method="POST" style="margin-top:5%;">
                        <fieldset class="login-box">
                            <!-- Form Name -->
                            <legend>Inscription</legend>

                            <!-- Nom -->
                            <div class="form-group">
                                <label class="col-md-5 control-label" for="textinput"></label>
                                <div class="col-md-2">
                                    <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md" required="">
                                </div>
                            </div>
                            <!-- Prenom -->
                            <div class="form-group">
                                <label class="col-md-5 control-label" for="textinput"></label>
                                <div class="col-md-2">
                                    <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md" required="">
                                </div>
                            </div>
                            <!-- Pseudo -->
                            <div class="form-group">
                                <label class="col-md-5 control-label" for="textinput"></label>
                                <div class="col-md-2">
                                    <input id="email" name="email" type="text" placeholder="Email" class="form-control input-md" required="">
                                </div>
                            </div>

                            <!-- Password -->
                            <div class="form-group">
                                <label class="col-md-5 control-label" for="textinput"></label>
                                <div class="col-md-2">
                                    <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" required="">
                                </div>
                            </div>

                            <!-- Button -->
                            <div class="form-group">
                                <label class="col-md-5 control-label" for="textinput"></label>
                                <div class="col-md-2">
                                    <button id="singlebutton" name="singlebutton" class="btn btn-info connec">Connexion</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </span>
        </div>
    </div>
</body>
</html>