<!-- Carousel -->
<div class="row">
    <div class="col-md-12">
        <div class="carousel slide" id="carousel-761706">
            <ol class="carousel-indicators">
                <li class="active" data-slide-to="0" data-target="#carousel-761706">
                </li>
                <li data-slide-to="1" data-target="#carousel-761706">
                </li>
                <li data-slide-to="2" data-target="#carousel-761706">
                </li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img alt="Carousel Bootstrap First" src="http://www.zupimages.net/up/15/27/whbc.jpg" />
                    <div class="carousel-caption">
                        <h4>
                            Location d'escort girls en ligne
                        </h4>
                    </div>
                </div>
                <div class="item">
                    <img alt="Carousel Bootstrap Second" src="http://zupimages.net/up/15/27/03oz.jpg" />
                    <div class="carousel-caption">
                    </div>
                </div>
                <div class="item">
                    <img alt="Carousel Bootstrap Third" src="http://www.zupimages.net/up/15/27/lp0n.jpg" />
                    <div class="carousel-caption">
                    </div>
                </div>
            </div> <a class="left carousel-control" href="#carousel-761706" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-761706" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</div>